/*Font*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #777;
  font-size: 1.12em;
}
#content {
  
  
}
a:hover {
  color: #2C366B;
}
h1,
h2,
h3,
h4,
h5,
#page-title {
  color: #5a5a5a;
  	font-family: "Times New Roman", Georgia, Serif;
}
h1 {
  font-size: 1.5em;
  font-weight: 1000;
}
h2 {
  font-size: 1.4em;
  font-weight: 900;
}
h3 {
  font-size: 1.3em;
  font-weight: 800;
}
h4 {
  font-size: 1.2em;
  font-weight: 700;
}
h5 {
  font-size: 1.15em;
  font-weight: 700;
}

/*Drupal Page elements*/
.node__submitted {
 font-size: 0.8em;
}